{% extends 'base.html' %} {% load static %}
{% block content %}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Furqan
            <span class="text-primary">Ahmed</span>
        </h1>
        <div class="subheading mb-5">
            {{about.title}}
        </div>
        <p class="lead mb-5">{{about.summary}}</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/furqanx11/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/furqanx11"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="mailto:furqanxahmed11@gmail.com"><i class="fas fa-envelope"></i></a>
            <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>    
</section>
<hr class="m-0">
{% endblock %}