{% extends 'base.html' %} 
{% load static %}
{% block content %}
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">
            {% for certificate in certifications %}
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                <a href="{{ certificate.url }}" target="_blank">{{ certificate.title }}</a> - {{ certificate.issued_by }}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}